[Desktop Entry]
Type=Application
Version=1.0
Name=Install Thakhin OS (သခင် OS တပ်ဆင်ရန်)
Name[my]=သခင် OS တပ်ဆင်ရန်
Comment=Install Thakhin OS 1.0 — Anti-Tarzan Community Edition to this computer
Comment[my]=Thakhin OS ကို ဤကွန်ပျူတာထဲ အပြီးတပ်ဆင်ရန်
Exec=thakhin-install
Icon=/etc/calamares/branding/thakhin/logo.png
Terminal=false
Categories=System;
